Repository QuEraComputing/kirin, pull requests merged in 2025-02, with the labels that each got.

#288 error if the statement do not belong to the interpretation
  src/kirin/interp/base.py
  src/kirin/ir/group.py
Labels: interpreter

#296 more precise/explicit range semantics
  src/kirin/analysis/typeinfer/analysis.py
  src/kirin/dialects/ilist/__init__.py
  src/kirin/dialects/ilist/_wrapper.py
  src/kirin/dialects/ilist/interp.py
  src/kirin/dialects/ilist/stmts.py
  src/kirin/dialects/ilist/typeinfer.py
  src/kirin/dialects/lowering/__init__.py
  src/kirin/dialects/lowering/range.py
  src/kirin/dialects/py/range.py
  src/kirin/interp/base.py
  src/kirin/ir/__init__.py
  src/kirin/ir/traits/__init__.py
  src/kirin/ir/traits/lowering/call.py
  src/kirin/prelude.py
  test/dialects/scf/test_for.py
  test/dialects/test_ilist.py
Labels: breaking, dialect: py, dialect:ilist

#297 constant hints should infer lower bound
  src/kirin/rewrite/wrap_const.py
Labels: bug, analysis

#295 add optional raise error when fail to run_analysis
  src/kirin/analysis/forward.py
Labels: enhancement, analysis

#298 remove verification within scf cons
  pyproject.toml
  src/kirin/dialects/scf/stmts.py
  src/kirin/rewrite/inline.py
Labels: dialect:scf
