Repository QuEraComputing/kirin, pull requests merged in 2025-03, with the labels that each got.

#302 fix constprop on closure (issue #300)
  src/kirin/analysis/const/prop.py
  src/kirin/dialects/func/constprop.py
  src/kirin/dialects/py/indexing.py
  test/analysis/dataflow/test_constprop.py
  test/program/py/test_const.py
Labels: bug, analysis

#308 switch constant attr to explicit + make IList an attribute
  src/kirin/dialects/func/typeinfer.py
  src/kirin/dialects/ilist/interp.py
  src/kirin/dialects/ilist/rewrite/const.py
  src/kirin/dialects/ilist/rewrite/list.py
  src/kirin/dialects/ilist/runtime.py
  src/kirin/dialects/py/constant.py
  src/kirin/ir/__init__.py
  src/kirin/ir/attrs/data.py
  src/kirin/ir/attrs/py.py
  src/kirin/ir/attrs/types.py
  src/kirin/ir/nodes/stmt.py
  test/dialects/test_ilist.py
  test/program/py/test_glob_pi.py
Labels: breaking, attribute, dialect: py, dialect:ilist

#311 Add trait to Attribute base class.
  src/kirin/ir/attrs/abc.py
Labels: attribute

#312 Registry for `PyClass` values.
  src/kirin/dialects/py/builtin.py
  src/kirin/ir/attrs/types.py
  src/kirin/ir/dialect.py
  test/ir/test_dialect.py
Labels: attribute, dialect: py, dialect: python types, IR node

#323 wrap complex type
  src/kirin/types.py
Labels: dialect: python types

#328 trait: check if maybe pure trait parent statement has purity attribute
  src/kirin/ir/traits/basic.py
Labels: trait, need test

#329 fix: add maybe pure to ilist stmt defs
  src/kirin/analysis/const/prop.py
  src/kirin/dialects/ilist/__init__.py
  src/kirin/dialects/ilist/constprop.py
  src/kirin/dialects/ilist/stmts.py
  test/dialects/test_ilist.py
Labels: bug, dialect:ilist

#330 doc: fix broken link in index
  docs/index.md
Labels: documentation, backport

#331 fix: rewrite scf trim should update scf.for initializers and entries
  src/kirin/decl/emit/property.py
  src/kirin/dialects/scf/lowering.py
  src/kirin/dialects/scf/trim.py
  src/kirin/ir/nodes/block.py
  src/kirin/ir/ssa.py
  test/dialects/scf/test_for.py
Labels: dialect:scf, backport

#340 simplify py constant print
  src/kirin/dialects/py/constant.py
Labels: enhancement, printing, backport
